.page-width {
    max-width: 1284px;
    margin: 0 auto;
    padding: 0 24px; 
}


/* Header Styling Starting  */
.ar_header .header__menu-item span {
    font-size: 16px;
    font-weight: 500; 
    line-height: normal;
    font-family: Quantico, sans-serif;
}
.ar_header  .header__active-menu-item { 
    text-decoration: none; 
}

 /* Header Styling End  */





.ar_custom_footer .footer__content-top { 
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.ar_custom_footer .footer__content-top .grid {
  max-width: 736px;
  width: 100%;
}
.ar_custom_footer .footer_left_content {
  max-width: 390px;
  width: 100%;
}
.ar_custom_footer .list-social {
  justify-content: flex-start;
}
.ar_custom_footer .footer-block--newsletter {
display: unset;
}
.ar_custom_footer  h3.logo_heading {
  font-size: 36px;
  font-weight: bold;
  line-height: normal;
  background: linear-gradient(to bottom right, #AB572D 0%, #EC9A52 22%, #A5470F 50%, #AB5829 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #AB572D 0%, #EC9A52 22%, #A5470F 50%, #AB5829 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #AB572D 0%, #EC9A52 22%, #A5470F 50%, #AB5829 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #AB572D 0%, #EC9A52 22%, #A5470F 50%, #AB5829 50%) top right / 50% 50% no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-bottom: 28px;
}
.ar_custom_footer h2.footer-block__heading.inline-richtext {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-bottom: 20px;
}
.ar_custom_footer .footer-block__desc {
  display: block;
  padding-bottom: 28px;
}
.ar_custom_footer .footer-block__desc,
.ar_custom_footer .footer-block__desc p { 
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.ar_custom_footer .footer__blocks-wrapper h2.footer-block__heading.inline-richtext {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding-bottom: 10px;
}
.ar_custom_footer .footer__blocks-wrapper .link--text {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  padding-bottom: 10px;
}
.ar_custom_footer .list-social {
  justify-content: flex-start;
  padding-top: 28px;
}
.ar_custom_footer .footer__content-bottom-wrapper {
  display: flex;
  width: 100%;
  justify-content: end;
}
.ar_custom_footer .footer__content-bottom {
  display: flex;
  padding: 0 24px;
}
.ar_custom_footer .field:after,
.ar_custom_footer .field:before {
  display: none;
}
.ar_custom_footer .newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
  border: 1px solid white;
  border-radius: 30px;
}
.ar_custom_footer .field__input:focus,
.ar_custom_footer .field__input:focus-visible {
  box-shadow: none;
  border: 1px solid wheat;
}
.ar_custom_footer .field__label {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}
.ar_custom_footer .newsletter-form__button .icon {
    width: 24px;
}